<%= form_for(@faculty , html: { class: "form-horizontal form-label-left"}) do |f| %>
  <h4>Faculty Details</h4>
  <span class="clearfix"></span>
  <div class="ln_solid"></div>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :email %>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
      First Name:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.text_field :first_name, placeholder: 'First Name' , class: 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
      Last Name:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.text_field :last_name, placeholder: 'Last Name' , class: 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
      Gender:
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="radio">
        <label>
          <%= f.radio_button :gender, 'M', class: 'flat' %> Male
        </label>
        <label>
          <%= f.radio_button :gender, 'F', class: 'flat' %> Female
        </label>
      </div>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
      Trade
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12 dropdown" >
    <%= f.select :trade_id , select_trade_data , {prompt: "---Select Trade---"}, required: :required , class: "form-control"%>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
      Address:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.text_field :address, placeholder: 'Address' , class: 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
      Mobile:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.text_field :mobile_no, placeholder: 'Mobile Number' , class: 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
      Salary:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.text_field :salary, placeholder: 'Salary' , class: 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
    Date of Birth:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12  input-group date">
      <%= f.text_field :date_of_birth, class: "form-control", placeholder: "YYYY/MM/DD" %>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
    Date of Join:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12  input-group date">
      <%= f.text_field :date_of_join, class: "form-control", placeholder: "YYYY/MM/DD" %>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
  </div>

  <span class="clearfix"></span>

  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-2">
      <a href="<%= faculties_path %>" class="btn btn-warning", type="button">Cancel</a>
      <button class="btn btn-primary" type="submit" data-disable-with="Saving...">Save</button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.input-group.date').datepicker({
    todayBtn: "linked",
    format: 'yyyy-mm-dd',
    keyboardNavigation: false,
    forceParse: false,
    autoclose: true
  });
</script>
