<div class="row">
  <div class="col-md-10">
    <h1>Subjects</h1>
  </div>
  <% if current_user.is_admin? %>
    <div class="col-md-2">
      <h1>
        <%= link_to 'New Subject', new_subject_path,  class: "btn btn-default btn-md" %>
      </h1>
    </div>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Trade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.trade_id %></td>
        <td>
          <%= link_to 'Show', subject, class: "btn btn-xs btn-info" %>
          <%= link_to 'Edit', edit_subject_path(subject), class: "btn btn-xs btn-warning" %>
          <%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-right">
  <%= paginate @subjects %>
</div>
