<%= form_for(@exam_schedule , html: { class: "form-horizontal form-label-left"}) do |f| %>
  <h4>Student Details</h4>
  <span class="clearfix"></span>
  <div class="ln_solid"></div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
    Exam Date:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12  input-group date">
      <%= f.text_field :exam_date, class: "form-control", placeholder: "YYYY/MM/DD" %>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
    Exam Start Time:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12  input-group bootstrap-timepicker timepicker input">
      <%= f.text_field :exam_start_time, class: "form-control input", id:"time"%>
      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
    Exam End Time:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12  input-group bootstrap-timepicker timepicker input">
      <%= f.text_field :exam_end_time, class: "form-control input", id:"timeend" %>
      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
      Trade:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12 dropdown" >
    <%= f.select :trade_id , select_trade_data , {prompt: "---Select Trade---"}, required: :required , class: "form-control"%>
    </div>
  </div>

  <div class="form-group text-left">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">
      Semester:
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.text_field :semester, placeholder: 'Semester' , class: 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>

<span class="clearfix"></span>

  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-2">
      <a href="<%= students_path %>" class="btn btn-warning", type="button">Cancel</a>
      <button class="btn btn-primary" type="submit" data-disable-with="Saving...">Save</button>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $('#time').timepicker();
  $('#timeend').timepicker();

  $('.input-group.date').datepicker({
    todayBtn: "linked",
    format: 'yyyy-mm-dd',
    keyboardNavigation: false,
    forceParse: false,
    autoclose: true
  });
</script>
