<div class="row">
  <div class="col-md-10">
    <h1>Exam Schedules</h1>
  </div>
  <% if current_user.is_admin? %>
    <div class="col-md-2">
      <h1>
        <%= link_to 'New Exam Schedule', new_exam_schedule_path,  class: "btn btn-default btn-md" %>
      </h1>
    </div> 
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Exam date</th>
      <th>Exam time</th>
      <th>Trade</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_schedules.each do |exam_schedule| %>
      <tr>
        <td><%= exam_schedule.exam_date %></td>
        <td><%= exam_schedule.exam_start_time.strftime('%R') %></td>
        <td><%= exam_schedule.exam_end_time.strftime('%R') %></td>
        <td><%= exam_schedule.try(:trade).try(:name) %></td>
        <td><%= exam_schedule.semester %></td>
        <td>
          <%= link_to 'Show', exam_schedule, class: "btn btn-xs btn-info" %>
          <%= link_to 'Edit', edit_exam_schedule_path(exam_schedule), class: "btn btn-xs btn-warning" %>
          <%= link_to 'Destroy', exam_schedule, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-right">
  <%= paginate @exam_schedules %>
</div>
