<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CollageManagement</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="form">
        <div class="alert1">
          <%= devise_error_messages! %>
        </div>
        <p class="notice alertnotice"><%= notice %></p>
        <p class="alert alert1"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
